<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>SLH - Lab2</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet"/>
</head>
<body class="d-flex flex-column min-vh-100">
<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/home">SLH - Lab2</a>
        {{#if email}}
            <span class="welcome_back">Welcome back {{email}}</span>
            <span class="nav-item ms-auto me-4" id="welcome_back_logout">
                <a href="/logout"><span class="logout">Logout</span></a>
            </span>
            {{#if (eq auth_method "Password")}}
                <span class="nav-item me-4"><a class="btn btn-primary" href="/password_update">Change password</a></span>
            {{/if}}
        {{/if}}
        {{#unless email}}
            <a class="btn btn-primary" href="/login">Login</a>
        {{/unless}}

    </div>
</nav>
{{#if email}}
    <div class="text-center m-5">
        <h3>Welcome to the website.</h3>
        {{#if (eq auth_method "Password")}}
            <p>You logged in with password authentication.</p>
        {{/if}}
        {{#if (eq auth_method "OAuth")}}
            <p>You logged in with OAuth.</p>
        {{/if}}
    </div>
{{/if}}
{{#unless email}}
    <div class="text-center m-5">
        <h3>You are not logged in.</h3>
    </div>
{{/unless}}
<!-- Footer-->
<footer class="footer bg-dark mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <p class="text-muted small mb-4 mb-lg-0">Demonstration website built with MDM, Bootstrap, Font Awesome.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<!-- Core theme JS-->
</body>
</html>